$bg-color: #22353b;
$animation-delay: 0.4;

html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background-color: $bg-color;

  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Circular', sans-serif;

  .link {
    width: 20px;

    color: white;
    text-decoration: none;
  }

  .wrapper-app {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    min-height: 800px;

    overflow-x: hidden;
    overflow-y: auto;

    .app {
      width: 90%;
      height: 90%;

      max-width: 800px;
      max-height: 800px;

      line-height: 0;
    }
  }

  .wrapper-logo {
    position: absolute;
    display: flex;
    top: 40px;

    align-items: center;
    justify-content: center;

    color: white;
    text-decoration: none;
    animation: fadeFromLeft 0.8s ease 1s both;
    animation-delay: $animation-delay;

    > .link {
      > img {
        margin-top: 4px;
      }
      margin-right: 6px;
    }

    .logo {
      display: block;

      width: 65px;
      margin-left: 10px;
    }

    .title {
      color: white;
    }
  }

  .wrapper-made-with {
    position: absolute;
    bottom: 40px;

    color: white;
    animation: fadeFromRight 0.8s ease 1s both;
    animation-delay: $animation-delay;
  }

  .wrapper-links {
    position: fixed;
    bottom: 0;
    left: 40px;
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 160px;
    height: 84px;

    background-color: transparent;
    animation: fadeFromLeft 0.8s ease 1s both;
    animation-delay: $animation-delay;
  }

  .page-title {
    position: absolute;
    font-size: 60px;
    top: 50px;
    left: 40px;

    animation: fadeIn 0.8s ease 1s both;
    animation-delay: $animation-delay;
  }

  @keyframes fadeFromLeft {
    from {
      left: -100px;

      opacity: 0;
    }

    to {
      left: 40px;

      opacity: 1;
    }
  }

  @keyframes fadeFromRight {
    from {
      right: -100px;

      visibility: hidden;
      opacity: 0;
    }

    to {
      right: 40px;

      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
